.wp-block-ft-website-screenshot .image-wrapper {
  position: relative; }
  .wp-block-ft-website-screenshot .image-wrapper .remove-image {
    position: absolute;
    top: 1em;
    right: 1em;
    color: red; }
    .wp-block-ft-website-screenshot .image-wrapper .remove-image svg {
      fill: currentColor; }
  .wp-block-ft-website-screenshot .image-wrapper .preview-image {
    width: 100%;
    max-width: 100%; }
    .wp-block-ft-website-screenshot .image-wrapper .preview-image.alignfull {
      width: 100%;
      max-width: 100%; }

.wp-block-ft-website-screenshot .media-form {
  background: #ededed;
  text-align: center; }
  .wp-block-ft-website-screenshot .media-form .media-form-inner {
    max-width: 600px;
    margin: 0 auto;
    padding: 2.5em; }
  .wp-block-ft-website-screenshot .media-form .no-image {
    border: 2px dashed #ddd;
    padding: 1.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
    background: #f5f5f5; }
  .wp-block-ft-website-screenshot .media-form .or-method {
    text-transform: uppercase;
    display: block;
    margin: 10px 0px 5px; }
  .wp-block-ft-website-screenshot .media-form.image-added {
    display: none; }
