.wp-block-ft-website-screenshot .image-wrapper {
  position: relative; }
  .wp-block-ft-website-screenshot .image-wrapper .remove-image {
    position: absolute;
    top: 1em;
    right: 1em; }
  .wp-block-ft-website-screenshot .image-wrapper .wp-block-image.alignfull {
    width: 100%;
    max-width: 100%; }

.wp-block-ft-website-screenshot .media-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 2.5em; }
  .wp-block-ft-website-screenshot .media-form.image-added {
    display: none; }
