.wp-block-ft-website-screenshot {
    .image-wrapper {
        position: relative;
        .remove-image {
            position: absolute;
            top: 1em;
            right: 1em;
            color: red;
            svg {
                fill: currentColor;
            }
        }
        .preview-image  {
            width: 100%;
            max-width: 100%;
            &.alignfull {
                width: 100%;
                max-width: 100%;
            }
        }
    }


    @keyframes components-button__busy-animation {
        0% {
            background-position: 200px 0;
        }
    }

    .components-button.is-loading {
        animation: components-button__busy-animation 2.5s infinite linear;
        background-size: 100px 100%;
        background-image: repeating-linear-gradient(-45deg,#e2e4e7,#fff 11px,#fff 0,#e2e4e7 20px);
        opacity: 1;
    }

    .media-form  {

        background: #ededed;
        text-align: center;
        .media-form-inner {
            max-width: 600px;
            margin: 0 auto;
            padding: 2.5em;
        }
        .no-image {
            border: 2px dashed #ddd;
            padding: 1.5em;
            margin-bottom: 1em;
            text-transform: uppercase;
            background: #f5f5f5;
        }

        .or-method {
            text-transform: uppercase;
            display: block;
            margin: 10px 0px 5px;
        }

        &.image-added {
            display: none;
        }

    }
}
